/* Navigation bar styling */
.nav-bar {
  display: inline-block;
  text-align: center;
  padding: 5px 10px; /* Smaller padding makes the button smaller */
  color: #f2f2f2;
  text-decoration: none;
  font-size: 14px; /* Optional: adjust if needed */
  line-height: 1; /* Keeps the button height closer to the text height */
  border: 1px solid transparent; /* Add only if you want a border */
}

button:hover {
  background-color: #0056b3;
}

/* General body styling */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/* Heading styling */
h2 {
  margin-bottom: 20px;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 15px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
